<html style="background-color: rgb(255, 255, 255);" class="">
    <head>
        <meta charset="utf8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
        <title>Specialized</title>

        <link rel="icon" href="https://www.specialized.com/_ui/desktop/theme-specialized/images/favicon.ico?v=1.1" type="image/x-icon">
        <!-- dynamic optimized style sheet resources -->
        <link rel="stylesheet" href="/public/css/main.css" media="screen, projection">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
        <script src="/js/vendor/jquery/dist/jquery.min.js"></script>
        <script src="/js/vendor/lory/dist/lory.min.js"></script>
        <script src="/js/custom/sliderHelper.js"></script>

        <!-- Adding the UGC Scripts -->
        <script type="text/javascript" src="https://s1.adis.ws/viewers/ecomm-bridge-generator-im/ecomm-bridge-generator-im.min.js"></script>
        <link rel="stylesheet" href="https://s1.adis.ws/viewers/ugc/carousel/v2.7.0/viewer.min.css"> 
        <script type="text/javascript" src="https://s1.adis.ws/viewers/ugc/shared/v2.7.0/shared.min.js"></script>
        <script type="text/javascript" src="https://s1.adis.ws/viewers/ugc/carousel/v2.7.0/viewer.min.js"></script>
        <!-- End of the UGC scripts-->
        <style type="text/css">

            @import url("https://fast.fonts.net/t/1.css?apiType=css&projectid=be6efb35-22e4-449f-aaf7-c1712be90ad8");
            @font-face{
                font-family:"DIN Next LT W01 Ultra Light";
                src:url("/public/Fonts/231f4dc4-1ef2-4327-ac59-a8bf0b6f1997.eot?#iefix");
                src:url("/public/Fonts/231f4dc4-1ef2-4327-ac59-a8bf0b6f1997.eot?#iefix") format("eot"),url("/public/Fonts/34ad7465-80b0-4f08-aa31-ce64b18e2568.woff2") format("woff2"),url("/public/Fonts/5cf072dd-689a-462e-910e-4e86da355389.woff") format("woff"),url("/public/Fonts/73333a79-131d-45d8-95c4-ca36adfe35c7.ttf") format("truetype");
            }
            @font-face{
                font-family:"DIN Next LT W01 Light";
                src:url("/public/Fonts/fb0dd5e6-cf57-43be-8f3f-2880d5389694.eot?#iefix");
                src:url("/public/Fonts/fb0dd5e6-cf57-43be-8f3f-2880d5389694.eot?#iefix") format("eot"),url("/public/Fonts/14aba99e-8c97-4daa-a8df-67920a051402.woff2") format("woff2"),url("/public/Fonts/96fd6d6f-fad6-4dd9-ab70-29547a56cacd.woff") format("woff"),url("/public/Fonts/cdc1c0e4-213b-4a01-a1dc-af6dddf2263a.ttf") format("truetype");
            }
            @font-face{
                font-family:"DIN Next LT W01 Regular";
                src:url("/public/Fonts/936930ba-a8da-4765-9e89-0f35cdff223f.eot?#iefix");
                src:url("/public/Fonts/936930ba-a8da-4765-9e89-0f35cdff223f.eot?#iefix") format("eot"),url("/public/Fonts/6b4d4830-9c7d-43d2-b5d3-c73f739561b9.woff2") format("woff2"),url("/public/Fonts/ccf25ada-6d2a-4133-95dc-deb039e22999.woff") format("woff"),url("/public/Fonts/126195b4-2fa0-4b95-b5cf-ad9bf10193f0.ttf") format("truetype");
            }
            @font-face{
                font-family:"DIN Next LT W01 Italic";
                src:url("/public/Fonts/43545a34-77fc-4613-a2ba-eb1f06bdfd5e.eot?#iefix");
                src:url("/public/Fonts/43545a34-77fc-4613-a2ba-eb1f06bdfd5e.eot?#iefix") format("eot"),url("/public/Fonts/e8258209-d292-4480-9fe3-b30dfa63ea97.woff2") format("woff2"),url("/public/Fonts/c3cbbafb-1878-424d-b2f5-b176d0f9b370.woff") format("woff"),url("/public/Fonts/099f3b78-1eec-4286-a243-a204d96fec0b.ttf") format("truetype");
            }
            @font-face{
                font-family:"DIN Next LT W01 Medium";
                src:url("/public/Fonts/c6dbdd54-50f5-472a-8b74-0e98ef77e33e.eot?#iefix");
                src:url("/public/Fonts/c6dbdd54-50f5-472a-8b74-0e98ef77e33e.eot?#iefix") format("eot"),url("/public/Fonts/afabdfcf-432c-49b4-a496-0e5051e87fa9.woff2") format("woff2"),url("/public/Fonts/611ea865-db7e-4c05-94b8-bd1675c90576.woff") format("woff"),url("/public/Fonts/e65314e4-c389-45b8-99a9-26ab6aef066c.ttf") format("truetype");
            }
            @font-face{
                font-family:"DIN Next LT W01 Medium Italic";
                src:url("/public/Fonts/d181cd2c-c18f-40b3-8015-ac0d8be14b05.eot?#iefix");
                src:url("/public/Fonts/d181cd2c-c18f-40b3-8015-ac0d8be14b05.eot?#iefix") format("eot"),url("/public/Fonts/e7938824-19f4-4f10-a2f1-a0bf5f7ab502.woff2") format("woff2"),url("/public/Fonts/34afc1f7-a48d-4091-83dc-cd888e3d0df8.woff") format("woff"),url("/public/Fonts/aaa4548c-32c0-4f02-b77c-0643beb254cd.ttf") format("truetype");
            }
            @font-face{
                font-family:"DINNextW01-CondensedUlt";
                src:url("/public/Fonts/d8b8889b-af70-4f3d-b86e-e0cf674dd069.eot?#iefix");
                src:url("/public/Fonts/d8b8889b-af70-4f3d-b86e-e0cf674dd069.eot?#iefix") format("eot"),url("/public/Fonts/d544417b-3dbf-4d66-9f4c-cc1264548542.woff2") format("woff2"),url("/public/Fonts/02c54ffd-ffe5-4a1d-baf3-6f2f329e985e.woff") format("woff"),url("/public/Fonts/be798c01-2b57-4464-b4f2-8fdda5148346.ttf") format("truetype");
            }
            @font-face{
                font-family:"DINNextW01-CondensedLig";
                src:url("/public/Fonts/c0be55e4-0b40-4646-a643-431ca3639465.eot?#iefix");
                src:url("/public/Fonts/c0be55e4-0b40-4646-a643-431ca3639465.eot?#iefix") format("eot"),url("/public/Fonts/9ef359c1-4458-4560-874a-1f40df1c01d1.woff2") format("woff2"),url("/public/Fonts/43e82893-3880-47b2-82d6-5b136f8f7477.woff") format("woff"),url("/public/Fonts/72f03533-e4e2-48a4-9d34-53d2964eb649.ttf") format("truetype");
            }
            @font-face{
                font-family:"DINNextW01-CondensedMed";
                src:url("/public/Fonts/0b46a18d-fb34-4ef7-b5da-5902c510577a.eot?#iefix");
                src:url("/public/Fonts/0b46a18d-fb34-4ef7-b5da-5902c510577a.eot?#iefix") format("eot"),url("/public/Fonts/76b8cda6-0ded-4197-acab-e314297eb90f.woff2") format("woff2"),url("/public/Fonts/2613a064-2962-44af-ae6f-3640e06e8dc4.woff") format("woff"),url("/public/Fonts/2889b152-497e-4ea3-a90d-02854d136a8d.ttf") format("truetype");
            }
            @font-face{
                font-family:"DIN Next LT W01 Medium Cond It";
                src:url("/public/Fonts/14476c1d-0c32-41d2-aa6d-9afe95f0149f.eot?#iefix");
                src:url("/public/Fonts/14476c1d-0c32-41d2-aa6d-9afe95f0149f.eot?#iefix") format("eot"),url("/public/Fonts/d2297395-21f1-45d2-9192-2e75249cb766.woff2") format("woff2"),url("Fonts/81b35f3b-6458-4bb3-8b9f-162e5cd2adb9.woff") format("woff"),url("/public/Fonts/e711e947-649a-4b37-a2b0-175b75ac03e5.ttf") format("truetype");
            }
            @font-face{
                font-family:"DINNextW01-CondensedBol";
                src:url("/public/Fonts/71888b4d-cd66-4c8b-9a5c-b37014e8e4fa.eot?#iefix");
                src:url("/public/Fonts/71888b4d-cd66-4c8b-9a5c-b37014e8e4fa.eot?#iefix") format("eot"),url("/public/Fonts/258804c2-9ca6-4856-bad7-67cde4f087b4.woff2") format("woff2"),url("/public/Fonts/0c0418fe-d324-4ab2-978a-e8201c646ca1.woff") format("woff"),url("/public/Fonts/2c4f6a99-1274-42cd-8d14-fecf6ae449a4.ttf") format("truetype");
            }
            @font-face{
                font-family:"DIN Next W01 Ultra Light";
                src:url("/public/Fonts/59e5271f-bd48-4dcf-86a7-832dd8fff20a.eot?#iefix");
                src:url("/public/Fonts/59e5271f-bd48-4dcf-86a7-832dd8fff20a.eot?#iefix") format("eot"),url("/public/Fonts/a8b0f7e9-aa32-4f01-bdb6-c9c69675f6f1.woff2") format("woff2"),url("/public/Fonts/1d7750b7-79a8-4b49-b8bb-f4f440fb62cc.woff") format("woff"),url("/public/Fonts/efa647e7-6e2a-4266-8e08-8eccd015d08e.ttf") format("truetype");
            }
            @font-face{
                font-family:"DIN Next W01 Medium";
                src:url("/public/Fonts/c709b874-be98-4dab-8fa8-bc2b759fd81a.eot?#iefix");
                src:url("/public/Fonts/c709b874-be98-4dab-8fa8-bc2b759fd81a.eot?#iefix") format("eot"),url("/public/Fonts/a95a6651-4c5c-49fb-adf3-ba8f3763ffd7.woff2") format("woff2"),url("/public/Fonts/3804fd29-2a8f-48ab-93d9-5bc03a18c716.woff") format("woff"),url("/public/Fonts/fac6f53e-b6fa-459e-b753-586444fe1597.ttf") format("truetype");
            }
            @font-face{
                font-family:"DINNextRoundedLTW01-Lig";
                src:url("/public/Fonts/a1de4b41-809e-4f42-8768-ed5a3e9f8f05.eot?#iefix");
                src:url("/public/Fonts/a1de4b41-809e-4f42-8768-ed5a3e9f8f05.eot?#iefix") format("eot"),url("/public/Fonts/3c86cc77-75e3-424d-a62e-ddcba8cb6458.woff2") format("woff2"),url("/public/Fonts/a97ce140-d04b-430b-a41b-56ea0794c997.woff") format("woff"),url("/public/Fonts/ad44eab7-3b14-4691-8a6d-f6f344f54cb6.ttf") format("truetype");
            }
            @font-face{
                font-family:"DINNextRoundedLTW01-Reg";
                src:url("/public/Fonts/414aac2b-b155-4948-8733-ca83f707714f.eot?#iefix");
                src:url("/public/Fonts/414aac2b-b155-4948-8733-ca83f707714f.eot?#iefix") format("eot"),url("/public/Fonts/8436c5b3-8af1-40f9-acd7-48dfdcaeac50.woff2") format("woff2"),url("/public/Fonts/b03c5cd2-c6ad-4764-9cab-bf6211f181a7.woff") format("woff"),url("/public/Fonts/e06f8fa7-aeda-4810-967e-0fd3d4621441.ttf") format("truetype");
            }
            @font-face{
                font-family:"DINNextRoundedLTW01-Med";
                src:url("/public/Fonts/6b52da97-62cc-435e-9602-a010041892ca.eot?#iefix");
                src:url("/public/Fonts/6b52da97-62cc-435e-9602-a010041892ca.eot?#iefix") format("eot"),url("/public/Fonts/1120eb10-bbb9-40ce-8295-69fe28a06b68.woff2") format("woff2"),url("/public/Fonts/97252acf-16d3-480c-8269-89ea815e4179.woff") format("woff"),url("/public/Fonts/fb4860e4-3e80-46aa-92f9-63d03e5db476.ttf") format("truetype");
            }
            @font-face{
                font-family:"DINNextRoundedLTW01-Bol";
                src:url("/public/Fonts/6746d969-4fe6-41c3-9825-bf64ef27f524.eot?#iefix");
                src:url("/public/Fonts/6746d969-4fe6-41c3-9825-bf64ef27f524.eot?#iefix") format("eot"),url("/public/Fonts/2256e07a-0135-47d0-afbd-c63fcb1d4030.woff2") format("woff2"),url("/public/Fonts/52382db1-3de6-473e-b9c0-3cb5e70e80a2.woff") format("woff"),url("/public/Fonts/9b4762b5-c629-43c5-aad0-ab5e65206cc6.ttf") format("truetype");
            }
        </style>

    </head>

    <body>
        <div class="off-canvas">
            <div class="mainContent">
                <%- include('./navigation.ejs', {}); %>

                <div class="amp-page">